body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

}

header:last-child{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

div {
    display: flex;
    flex-direction: row;
}

.division {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #f2f2f2;
    height: auto;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}