body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header div:last-child a{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    margin: 10px 10px;
}
a:hover {
    text-decoration: underline;
}

.bordeboton1{
    height: 32px;
    width: 32px;
    border-radius: 50%;

}

.bordeboton1:hover{
    background-color:  #f2f2f2;
}

.boton1{
    fill: #5f6368;
    opacity: 1;
    width: 24px;
    height: 24px;
}

button{
    background: #4285f4;
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    margin: 10px 12px;
    border-radius: 2px;
    line-height: 28px;
    font-size: 13px;
    cursor: pointer;
}

div {
    display: flex;
    flex-direction: row;

}

.division {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form{
    padding: 20px;
    max-height: 160px;
}

form > div:first-child{
    width: auto;
    max-width: 584px;
    display:flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

form > div:first-child > svg:first-child{
    fill: #9aa0a6;
    width: 24px;
    height: auto;
    margin: 0px 10px;
    cursor: pointer;
}

input[type="text"]{
    background-color: transparent;
    border: none;
    margin: 0px 10px;
    padding: 0;
    display: flex;
    flex: 100%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

input[type="text"]:focus {
    outline: none;
}

form > div:first-child > svg:last-child{
    width: 24px;
    height: auto;
    margin: 0px 10px;
    cursor: pointer;
}

form > div:last-child{
    height: 70px;
    padding-top: 18px;
}

input[type="button"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="button"]:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.aclash > p{
    font-size: small;
}
.aclash > p> a{
    color: #1a0dab;
    margin:0;
    padding: 0 3px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #f2f2f2;
    height: auto;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

footer>div:first-child{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

footer a{
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

