body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header div:last-child a{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    margin: 10px 10px;
}
a:hover {
    text-decoration: underline;
}

.bordeboton1{
    height: 32px;
    width: 32px;
    border-radius: 50%;

}

.bordeboton1:hover{
    background-color:  #f2f2f2;
}

.boton1{
    fill: #5f6368;
    opacity: 1;
    width: 24px;
    height: 24px;
}

button{
    background: #4285f4;
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    margin: 10px 12px;
    border-radius: 2px;
    line-height: 28px;
    font-size: 13px;
    cursor: pointer;
}

div {
    display: flex;
    flex-direction: row;

}

.division {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #f2f2f2;
    height: auto;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.flexcenter{
    display:flex;
    justify-content: center;
    align-items: center;
}